.friends_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    .avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        img{
            max-width: 100%;
        }
    }
    .name{
        margin-left: 10px;
    }

}