.profile_info{
    
}
.banner{
    position: relative;
    height: 300px;
    overflow: hidden;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
    }
} 

